@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primaria: #001932;
    --secundaria: #5981AA;
    --secundaria-clara: #BFBFBF;
    --terciaria: #F2F2F2;
    --black: #0D0D0D;
}

body {
    color: var(--terciaria);
    background-color: var(--primaria);
    font-family: 'Roboto', sans-serif;
    min-width: 360px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Orbitron', sans-serif;
}

/* Header */

.navbar,
.nav-link,
.nav-brand {
    font-family: 'Orbitron', sans-serif;
    transition: 1s;
}

.navbar {
    background-color: transparent !important;
}

.nav-item,
.nav-link {
    color: var(--secundaria);
}

.nav-link:hover {
    color: var(--secundaria-clara) !important;
    border-bottom: 2px solid var(--secundaria-clara);
    padding: 10px;
    transition: 0.3s;
}

.nav-link:active {
    color: var(--secundaria-clara) !important;
    border-bottom: 2px solid var(--secundaria-clara);
    padding: 10px;
    transition: 0.3s;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
    text-decoration: none;
}

.bi-list {
    color: var(--terciaria) !important;
    height: 30px;
    width: 30px;
}

/* Main */

.gradient-text {
    background: linear-gradient(180deg, #FFFFFF, #5981AA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.paralax {
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.presentation {
    height: auto;
    width: 100%;
    background-image: url('images/Rectangle-2.webp');
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 75px 20px;
    text-align: center;
}

.title h1 {
    color: var(--terciaria);
    font-size: 3rem;
    font-family: Orbitron, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 5rem;
}

.description {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--terciaria);
    margin-bottom: 5rem;
}

.description-text {
    color: var(--terciaria);
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 3px;
    word-wrap: break-word;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Inicio da estilização da seção sobre nos */

.about-us {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 15px;
    padding-top: 80px;
}

/* Estilo das imagens */
.about-us img {
    object-fit: cover;
    max-width: 85%;
    box-shadow: 0 0 15px 5px rgba(77, 206, 255, 0.5);
    border-radius: 10px;
    /* Cantos arredondados */
    transition: transform 0.3s ease-in-out;
    /* Efeito de transição */
    padding: 10px;
}

/* Efeito de hover nas imagens */
.about-us img:hover {
    transform: scale(1.05);
    /* Aumentar ligeiramente a imagem */
}

/* Estilo dos títulos */
.about-us h2 {
    font-size: 36px;
    /* Aumentando o tamanho do título */
    font-family: 'Montserrat', sans-serif;
    /* Exemplo de fonte futurista */
    font-weight: 700;
    /* Ajustando o peso da fonte para mais destaque */
    color: var(--terciaria);
    /* Cor do texto */
    margin-bottom: 25px;
    /* Mais espaçamento abaixo dos títulos */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    /* Sombra para destacar o texto */
}

/* Estilo dos parágrafos */
.about-us p {
    font-size: 20px;
    /* Aumentando um pouco o tamanho do parágrafo */
    line-height: 1.8;
    /* Aumentando o espaçamento entre linhas */
    color: var(--terciaria);
    /* Cor do texto */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    /* Sombra mais sutil para o texto */
}


/* Estilização das seções individuais */
.objective {
    margin-top: 100px;
    /* Espaçamento entre as seções */
    margin-bottom: 250px;
    /* Espaçamento entre as seções */
}

.justification {
    margin-top: 250px;
    /* Espaçamento entre as seções */
    margin-bottom: 250px;
    /* Espaçamento entre as seções */
}

.methodology {
    margin-top: 250px;
    /* Espaçamento entre as seções */
    margin-bottom: 100px;
    /* Espaçamento entre as seções */
}

/* Fim da estilização da seção sobre nos */


/* Inicio da estilização da seção de arquivos externos */

.see-also {
    height: auto;
    width: 100%;
    background-image: url('images/pexels-snapwire-32237.webp');
}

.see-also-files {
    background-color: var(--primaria);
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-links {
    background-color: var(--secundaria);
    margin: 10px;
}

.item-external {
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.item-external i {
    transition: transform 0.3s ease-in-out;
}

.item-external i:hover {
    transform: scale(1.2);
    color: var(--secundaria-clara) !important;
}

/* Fim da estilização da seção de arquivos externos */


/* Inicio da estilização da seção footer */

.section-footer {
    color: var(--terciaria);
    width: 100%;
}

.logo-institute {
    width: 30%;
}

.logo-institute p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.address-institute {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 70%;
}

.address-institute span {
    font-weight: bold;
    font-size: 20px;
}

.institution {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.institution .img-logo img {
    width: 150px;
}

.contacts {
    margin-bottom: 0 !important;
}

.contacts span {
    font-size: 20px;
}

.contacts a {
    text-decoration: none;
    color: var(--terciaria);
}

.contacts a:hover {
    color: var(--secundaria-clara);
}

.copyright a {
    color: var(--terciaria);
    text-decoration: none;
}

.copyright a:hover {
    color: var(--secundaria-clara);
    text-decoration: underline;
}

.contacts i {
    padding-left: 10px;
    padding-right: 10px;
}

/* Fim da estilização da seção footer */

.horizontal-divider-gradiente {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, white, transparent);
}

/*Responsividade para celulares*/
@media (max-width: 767px) {
    .description-text {
        font-size: 20px;
        line-height: 30px;
    }

    .about-us img {
        margin-bottom: 50px;
    }
}

@media (max-width: 576px) {
    .logo-institute {
        width: 100%;
        padding-bottom: 20px;
    }

    .institution .img-logo img {
        width: 150px;
    }

    .address-institute {
        padding-left: 20px;
        width: 100%;
    }
}